[submodule "mjtest-rs/tests"]
	path = mjtest-rs/tests
	url = https://git.scc.kit.edu/IPDSnelting/mjtest-tests.git
[submodule "libfirm-rs-bindings/libfirm"]
	path = libfirm-rs-bindings/libfirm
	url = https://github.com/comprakt/libfirm.git
	branch = set_b_value
[submodule "compiler-lib/debugger-gui"]
	path = debugging/debugger-gui
	url = https://github.com/comprakt/dot-visualizer.git
